 *{
    margin: 0;
    padding: 0;
 }
 body{
    background-image: url("https://wallpaperaccess.com/full/5651978.png");
    background-repeat: no-repeat;
    background-size: cover;

 }
 .page1{
    height: 100%;
    width: 100%;
    
 }
 
 .body{
    overflow: auto;
}
   
 
 
 
 .heading{
    z-index: 200;
    display: flex;
    background-color:white;
    width:100vw;
    position: fixed;
    
    border-width: 0.15vw;
    border-radius: 0.5vw;
}

.navbar{
    text-align: right;
}

.navbar:hover{
    text-decoration: underline;
    color: brown;
    cursor: pointer;
}

.top{
    position: fixed;
    text-align: right;
     margin-left: 38vw;  
    color:rgb(111, 106, 106);
    display: flex;
    gap: 3vw;
    list-style: none;
    padding: 1.5vw;
    margin-right:5vw;
    z-index: 200;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    
    font-size: 1.2vw;
}

.name{
    font-family: 'Protest Strike', sans-serif;
    justify-self: center;
    padding: 1.5vw;
    font-size: 1.2vw;
}
.intro{
    display:flex;
    flex-direction: column;
    gap:2vw;
    font-family: 'Josefin Sans', sans-serif;
    /* font-size:1.3vw; */
    font-size :1.5vw; 
    text-align: left;
}
.jha{
    color: orange;
}
.red{
    color: red;
}
.mj{
    color: red;
    position: absolute;
    left:9.4vw;
    top:11vw;

}
.about{
    color: white;
    background-color: rgb(19, 19, 142);
     padding-left: 3vw; 
     padding-right: 3vw;
     padding-top: 2vh;
     padding-bottom: 2vh;
    border-radius: 100vw;
    font-size: 1.5vw;
    text-shadow: 1vw;
    width:fit-content;
    
}

.description{
    margin-top:10px;
}

.a{
    display:flex;

}    

.hero{
    height:100vh;
    width: 100vw;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap:40vw;
    justify-content: center;
    align-items: center;
    
    
}

.myphoto{
    height: 25vw;
    width:25vw;
    border-radius: 50%;
   
    
    
    
   
}
.education{
    width: 100vw;
    height: 100vh;
    font-size:1.1vw;
    
}
.edubtn{
    background-color: transparent;
    border-color: transparent;
    border: transparent;
}
.aboutpage{
    width:100vw;
    height:100vh;
    font-size: 1.1vw;
   
    
    
   
}
.home{
    width:100vw;
    height:100vh;
    
}
.skills{
    width:100vw;
    height:100vh; 
    font-size: 1.1vw; 
   
   
}
.about:hover{
    text-decoration: underline;
    color: brown;
    cursor: pointer;
}
.footer{
    background-color:black;
    justify-content: center;
   
    
}
.contacts{
    
    display: flex;
    gap:20vw;
    justify-content: center;
    
    width:100vw;

}
.smlinks{
    height: 4vw;
    width: 4vw;
    background-color:black;
    color: black;
    
}
.bottom{
    color: white;
   
    justify-content: center;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1vw;
  
   
}
.rajesh{
    background-color: black;
    font-size: 1.1vw;
    
}
.aboutmeheading{
    
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5vw;
        text-wrap: wrap;
      
      
}
.aboutmecontent{
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:1.5vw ;
    text-wrap: wrap;
  
}
.aboutphoto{
    height: 25vw;
    width: 25vw;
    border-radius: 2vw;
   
}



.hero1{
    display: inline-flex;
    gap: 23vw;
    justify-content: center;
    align-items: center;
   padding: 5vh;
   
   

}
.aboutwriteup{
    text-wrap: wrap; 
    color:rgb(111, 106, 106);
}
.aboutmeheading{
    color:rgb(199, 88, 88);
}
.aboutme{
    color:rgb(19, 14, 14);
    padding-left: 2vw;
    padding-top:1vw ;
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:2.7vw ;

    
}
.skillscontent1{
    text-wrap: wrap;
}
.skillscontent2{
    text-wrap: wrap;
}
.hero2{
    display:inline-flex; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vw;
    gap: 7vw;
    padding-right: 5vw;
    font-family: "Mukta", sans-serif;
    color:rgb(105, 101, 101);
    font-size: 1.3vw;
    
}
.subheadingskills{
    color:rgb(199, 88, 88);
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-top: 3vw;
    padding-left:29vw ;
    padding-right:29vw ;
}
.hrtop{
    margin-left: 22vw;
    margin-right: 22vw;
    width: 52vw;
    margin-top: 2vw;
}
.college{
    display: inline-flex;
    flex-direction: row;
    gap:9vw;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
    margin-left: 22.5vw;
    margin-right: 22.5vw;
    font-family: "Mukta", sans-serif;
    color:rgb(105, 101, 101);
}
.hrbottom{
   
    width: 52vw;
    margin-top: 2vw;
    margin-left: 22vw;
    margin-right: 22vw;
}
.skillsheading{
    font-family: "Mukta", sans-serif;
    color: black;
    font-weight: 700;
    font-size: 2.7vw;
    padding-left: 2vw;
    padding-top: 0.5vw;
}
.smlinks:hover{
    
    cursor: pointer;
    

}
@media screen and (max-width: 1100px ){
  .myphoto{
    /* width: 60vw;
    height:60vw; */
   width:32vh;
   height: 32vh;
    
  }  

  .intro{
    font-size: 2.1vh; 
    
    padding-top: 14vh;
  }
  .about{
    
   
    font-size: 2.1vh;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 2vh;
    
    align-content: center;
    
  }
  .hithere{
    align-self: center;
  }
  .description{
    align-self: center;
  }
  .hero{
    gap:8vh;
    display: flex;
    flex-direction: column;
  }
  .name{
    font-size: 2vh;
  }
  .aboutphoto{
    width:30vh;
    height: 30vh;
    justify-self: center;
    align-self: center;
    padding-top: 4vh;
  }
  .aboutmeheading{
    font-size: 2.7vh;
    align-self: center;
    /* padding-left: 5vw;
    padding-right: 5vw; */
  }
  .hero1{
    display: flex;
    flex-direction: column;
    gap:5vh;
  }
  .aboutmecontent{
    font-size: 1.5vh;
    align-self: center;
    /* padding-left: 5vw;
    padding-right: 5vw; */
    
  }
  .hero2{
    display: flex;
    flex-direction: column;
  }
  .skillscontent1{
    font-size: 1.5vh;
    padding-top: 7vh;
    
}
  .skillscontent2{
    font-size: 1.5vh;
    padding-top: 2vh;
  }
  .subheadingskills{
    padding-left: 25vw;
    padding-right: 25vw;
    font-size: 3vh;
    padding-top: 10vh;
  }
  .college1{
    font-size: 1.1vh;
  }
  .college2{
    font-size: 1.1vh;
  }
  .footer{
    height:4vh;
    
  }
  .rajesh{
    padding-top: 2vh;
   
  }
  .smlinks{
    height: 3.5vh;
    width: 3.5vh;
  }
  .bottom{
    font-size: 1.5vh;
    padding-bottom: 2.5vh;
  }
  .aboutme{
    font-size: 2.5vh;
  }
  .skillsheading{
    font-size: 2.5vh;
  }
  .top{
    font-size: 1.3vh;
    padding-left: 10vw;
    padding-right:10vw ;
  }
}